.popup__form {
  margin-top: 27px;
}

.form__input-error {
  font-size: 12px;
  color: red;
  min-height: 28px;
  margin-top: 5px;
  height: 28px;
  width: 100%;
  display: block;
}

.form__input-error:last-of-type {
  min-height: 48px;
}